.faq {
  border-radius: 8px;
  overflow: hidden;
}
.faq .tab-toggle {
  display: none;
}
.faq .tab-label {
  color: white;
  background-color: rgb(48, 115, 202);
  display: flex;
  justify-content: space-between;
  padding: 1em;
  font-weight: bold;
}
.faq .tab-label:hover {
  background-color: rgb(37, 90, 158);
}
.faq .tab-toggle:checked ~ .tab-label {
  background-color: rgb(37, 90, 158);
}
.faq .tab-label::after {
  content: "\002B";
  transition: all 0.4s;
}
.faq .tab-toggle:checked ~ .tab-label::after {
  /* transform: rotate(90deg); */
  content: "\002D";
}
.faq .tab-content {
  background-color: white;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.4s;
  padding: 0 1em;
}
.faq .tab-toggle:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}
